// set up background video
.video-background {
  background: #000;
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: -99;
}

.video-foreground,
.video-background iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

@media (min-aspect-ratio: 16/9) {
  .video-foreground { height: 300%; top: -100%; }
}
@media (max-aspect-ratio: 16/9) {
  .video-foreground { width: 300%; left: -100%; }
}

.general-background{
  background-image: linear-gradient(to bottom, rgba($black, .8) 0%, transparent 50%, rgba($black, .8) 100%);
  height: 100vh;
  position: relative;
  .title-banner{
    position: absolute;
    top: 2%;
    width: 100%;
    ul{
      text-align: center;
      li{
        list-style-type: none;
        display: inline;
        font-size: 18px;
        color: #eed28e;
        opacity: 0;
        font-weight: bold;
        padding: 0 3px;
        @include bp-xs{
          font-size: 30px;
          padding: 0 5px;
        }
      }
    }
  }

  // footer credits
  footer{
    color: #eed28e;
    text-align: center;
    position: absolute;
    bottom: 10px;
    width: 100%;
    left: 0;
    font-weight: 300;
    a{
      color: inherit;
      transition: all .3s ease;
      &:hover, &:visited{
        color: white
      }
    }
  }
}

// banner title
// .title-banner{
//   position: absolute;
//   top: 2%;
//   width: 100%;
//   //z-index: 2;
//   ul{
//     text-align: center;
//     li{
//       list-style-type: none;
//       display: inline;
//       font-size: 18px;
//       color: #eed28e;
//       opacity: 0;
//       font-weight: bold;
//       padding: 0 3px;
//       @include bp-xs{
//         font-size: 30px;
//         padding: 0 5px;
//       }
//     }
//   }
// }

// // footer credits
// footer{
//   color: #eed28e;
//   text-align: center;
//   position: absolute;
//   bottom: 10px;
//   width: 100%;
//   left: 0;
//   font-weight: 300;
//   a{
//     color: $beige;
//     transition: all .3s ease;
//     &:hover, &:visited{
//       color: white
//     }
//   }
// }

// //small devices => 480px
// +bp-xs

// //medium devices => 768px
// +bp-sm

// //large devices => 992px
// +bp-md

// //extra large devices => 1200px
// +bp-lg
